.header{
    display: flex;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
}

.logoPhone{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.phone{
    display: flex;
    align-items: center;
    width: 175px;
    margin-left: 50px;
    padding-left: 25px;
    justify-content: space-around;
    border-left: 2px solid #a5a5a5;
    font-weight: 600;
}

.userProfile{
    height: 100px;
    width: 200px;
    border-left: 2px solid #a5a5a5;
    border-right: 2px solid #a5a5a5;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.userProfile:hover{
    background-color: #a5a5a5;
}

.userProfile:hover .userIcon span{
    color: #fff;
}

.userProfile:hover > .menu{
    visibility: 1;
    display: block;
}

.userIcon{
    display: flex;
    flex-direction: column;
}

.userIcon img{
    width: 30px;
    margin: 0 auto;
}

.userIcon span{
    margin-top:10px;
}

.userCaret{
    width: 10px;
    position: absolute;
    margin-left: 150px;
    margin-bottom: 50px;
}

@media screen and (max-width:720px){
    .header{
        min-height: 300px;
    }
}

@media screen and (max-width:550px){
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .phone{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        border: none;
    }

    .phone img{
        margin-right: 5px;
    }

    .userProfile{
        margin-top: 50px;
        height: 75px;
    }
}