.imageCar{
    width: 380px;
    height: 285px;
    position: relative;
}

.imageCar img{
    width: 380px;
    position: absolute;
    border-radius: 5px 5px 0 0;
}



@media screen and (max-width:760px){
    .imageCar {
        width: 340px;
    }
    
    .imageCar img{
        width: 340px;
    }

    .showDetails {
        margin-top: 225px;
    }
}