:root {
    --font-color: #727272;
    --borderLines-color:#d4d4d4;
}

.cardAuction {
    background-color: #fff;
    border-radius: 5px;
    width: 380px;
    box-sizing: border-box;
    margin-top: 50px;
    padding-bottom: 10px;
}

.detailsAuction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    min-height: 150px;
}

.detailsAuction > div{
    width: 95%;
}

.timeBid{
    display: flex;
}

.timeBid span{
    font-size: 0.7rem;
    color: var(--font-color);
}

.timeBid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--borderLines-color);
    width: 50%;
    height: 75px;
}


.timeBid div:first-child{
    border-right: 1px solid var(--borderLines-color);
}

.descriptionCar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75px;
    border-top: 1px solid var(--borderLines-color);
    color: #3a3a3a;
    font-weight: bold;
}

.yearKm{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--borderLines-color);
    border-bottom: 1px solid var(--borderLines-color); 
    margin-bottom: 15px;
    color: var(--font-color);
    font-weight:600;
}

.yearKm div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50%;
}

.yearKm div:first-child{
    border-right: 1px solid var(--borderLines-color);
}

@media screen and (max-width:760px){
    .cardAuction {
        width: 340px;
    }
}