.header{
    display: flex;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
}

.logoPhone{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.phone{
    display: flex;
    align-items: center;
    width: 175px;
    margin-left: 50px;
    padding-left: 25px;
    justify-content: space-around;
    border-left: 2px solid #a5a5a5;
    color: #a5a5a5;
    font-weight: 600;
}

.userTest{
    height: 100px;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #a5a5a5;
    border-right: 2px solid #a5a5a5;
    font-weight: 600;
}

.userTest img{
    width: 30px;
}

@media screen and (max-width:720px){
    .header{
        min-height: 250px;
    }
}

@media screen and (max-width:550px){
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .phone{
        display: flex;
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }

    .phone img{
        margin-right: 5px;
    }
}